# BACKEND APP DEVELOPMENT EXPOSE PORT
PORT=

## API REPLICA EXPOSE 1
API_NAME_1=
PORT1=

# API REPLICA EXPOSE 2
API_NAME_2=
PORT2=

## API REPLICA EXPOSE 3
API_NAME_3=
PORT3=

## database-pg
DB_PORT=
DB_HOST=
DB_DATABASE=
DB_USER=
DB_PASSWORD=

#Auth
JWT_EXPIRES_IN=
HASH_SALT=
JWT_SECRET=
